/* body{
    margin: 0px;
    padding: 0px;
} */
nav{
    
    /* margin-right: 17%; */
}
nav a{
    float: right;
    text-decoration: none;
    color: #002e5b;
    font-size: 18px;
    /* padding: 25px 35px; */
    display: flex;
    /* display: inline-block; */
    transition: all 0.5s ease 0s;
}
#logo{
    font-size: 20px;
    /* text-transform: uppercase; */
    color: #002e5b;
    font-weight: bold;
    float:left;
    /* padding: 20px; */
    /* margin-left: 17%; */
}
#logo a{
    color: #002e5b;
    text-decoration: none;
}
/* .header{
    overflow: hidden;
    background-color: #ffe600;
} */
/* .movable{
 position: absolute;
  cursor: move;
  color: black;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
} */