.container{
    height: 90vh;
    width: 100%;
}
.hero-body{
    align-items: center;
    height: 90vh;
    width: 100%;
    display: inline block;
    /* background-image: url('../../../../public/images/backimage.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
}
.hero-body img{
    width: 100%;
}
.hero-heading{
    margin-top: 35px;
    font-size: 35px;
    font-weight: bolder;
}
.hero-text-box{
    
    font-weight: 200;
    font-size: 28px;
    display: flex;
}
.img-wrap{
    margin-top: 35px;
}