.navbar-default {
  /* background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  transition-duration: .4s;
  transition-timing-function: ease-in-out; */
  /* transition-function: ease-in-out; */
  /* margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px; */
}

.navbar-default +.zoom-v {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(238, 230, 230);
}

.navbar-brand {
  color: rgb(0, 0, 0);
}

.navbar-brand:hover {
  color: rgb(41, 37, 37);

}


/* .navbar-nav li a {
  cursor: pointer;
  color: rgb(51, 8, 8);
  height: 60px;
  line-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
} */
.center_item{
  position: absolute;
  top:50%;;
  left: 45%;
  color: rgb(255, 255, 255);
} 
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.page-landing {
  height: 100vh;
  /* background-color: #e74c3c; */
  color: rgb(255, 255, 255);
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.section {
  height: 100vh;
}

.sec-bg {
  background: transparent center center/cover no-repeat;
}

.sec-bg-1 {
  background-color: #8cd3c5;
}

.sec-bg-2 {
  background-color: #2980b9;
}

.sec-footer {
  background-color: black;
  height: 50px;
  color: white;
}

.sec-footer h6 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}