
.navbar-default{
    background-color: rgba(0,0,0,0) ;  
    border-bottom: none;
    transition-duration: .4s;
    transition-function: ease-in-out;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
     .navbar-default + .zoom-v{
      padding-top:0;
      padding-bottom:0;
      background-color: rgba(0,0,0,1);
      color: white;
    }
    
    .navbar-brand{
     color: white; 
    }
     navbar-brand:hover{
        color: white;
      }
    
    .navbar-toggle{
      border: none;
    }
      .navbar-toggle .icon-bar{
        background-color: white;
      }
    
    .navbar-nav li a{    
      
          cursor: pointer;  
          color: white;
          height: 60px;
          line-height: 60px;
          padding-top:0;
          padding-bottom:0;
        }


  
  .page-landing{
    height: 100%;
    background-color: #e74c3c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section{
     height: 100%;
  }
  .sec-bg{
    background: transparent center center/cover no-repeat ;
  }
  .sec-bg-1{
    background-color:#16a085;
  }
  .sec-bg-2{
    background-color:#2980b9;
  }